* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #def3c6, #ddf716);
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  height: 100vh;
}

.navbar-text {
  font-size: 1.5rem;
}

.form-inline {
  gap: 0.5rem;
}

#container {
  padding: 1rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dice {
  width: 100px;
  height: 100px;
}

#btn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
  border: none;
}

#message {
  color: blue;
  display: none;
}
